body {
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 10px;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    background-color: skyblue;
}

table, th, td {
    text-align: left;
    margin: 1px;
    border: 2px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 20px;
}

.main-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: 1000px;
}

.navbar {
    width: 97%;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    min-height: 40px;
    font-size: 22px;
    margin: 10px;
    background-color: white;
}

.navbar-left-side {
    margin: 15px;
}

.navbar-right-side {
    font-size: 14px;
    padding-top: 8px;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.user {
    padding-top: 10px;
    padding-right: 10px;
}

.settings-button {
    background:url(../img/sprocket.jpg) no-repeat;
    background-position: center;
    background-size: 30px 30px;
    cursor:pointer;
    width: 30px;
    height: 30px;
    border: none;
}

.logout-button {
    background:url(../img/logout.png) no-repeat;
    background-position: center;
    background-size: 30px 30px;
    cursor:pointer;
    width: 30px;
    height: 30px;
    border: none;
}

.tables {
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.main-table {
    min-width: 200px;
    flex-basis: 0;
    flex-grow: 1;
    margin: 10px;
    background-color: white;
}

.table-nav {
    background: darkgrey;
}

.table-title {
    font-size: 18px;
}

.actions-button {
    border-radius: 12px;
    width: 80px;
    padding: 0;
    margin: 0;
}