<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="ISO-8859-1" />
    <title>Cantor for Future Processing by Kodoj</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/css/cantor.css}" href="../static/css/cantor.css">

    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/updateDataFromFPServer.js}"></script>
    <script type="text/javascript" th:src="@{/js/sellTransaction.js}"></script>

</head>

<body>
    <div class = "main-container">
        <div class = "navbar">
            <div class = "navbar-left-side">
                <span class = "title">Exchange</span>
            </div>
            <div class = "navbar-right-side">
                <span class = "user">Logged in as <a th:text="${currentUser.getName()}"></a></span>
                <button type="button" class = "settings-button"></button>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" class = "logout-button" value="Sign Out"/>
                </form>
            </div>
        </div>

        <div class = "transaction"></div>

        <div class = "tables">
            <table class = "main-table buy-table">
                <tr>
                    <th colspan="4" class = "table-title">Currencies</th>
                </tr>
                <tr class = "table-nav">
                    <td>Currency</td>
                    <td>Unit</td>
                    <td>Value</td>
                    <td>Actions</td>
                </tr>
                <tr>
                    <td>USD</td>
                    <td id = "USD-unit">1</td>
                    <td id = "USD-buy-value"></td>
                    <td><button type="button" data-currency = "USD" id = "USD-buy"
                                class = "actions-button">Buy</button></td>
                </tr>
                <tr>
                    <td>EUR</td>
                    <td id = "EUR-unit">1</td>
                    <td id = "EUR-buy-value"></td>
                    <td><button type="button" data-currency = "EUR" id = "EUR-buy"
                                class = "actions-button">Buy</button></td>
                </tr>
                <tr>
                    <td>CHF</td>
                    <td id = "CHF-unit">1</td>
                    <td id = "CHF-buy-value"></td>
                    <td><button type="button" data-currency = "CHF" id = "CHF-buy"
                                class = "actions-button">Buy</button></td>
                </tr>
                <tr>
                    <td>RUB</td>
                    <td id = "RUB-unit">100</td>
                    <td id = "RUB-buy-value"></td>
                    <td><button type="button" data-currency = "RUB" id = "RUB-buy"
                                class = "actions-button">Buy</button></td>
                </tr>
                <tr>
                    <td>CZK</td>
                    <td id = "CZK-unit">100</td>
                    <td id = "CZK-buy-value"></td>
                    <td><button type="button" data-currency = "CZK" id = "CZK-buy"
                                class = "actions-button">Buy</button></td>
                </tr>
                <tr>
                    <td>GBP</td>
                    <td id = "GBP-unit">1</td>
                    <td id = "GBP-buy-value"></td>
                    <td><button type="button" data-currency = "GBP" id = "GBP-buy"
                                class = "actions-button">Buy</button></td>
                </tr>
            </table>
            <div class = "tables">
                <table class = "main-table sell-table">
                    <tr>
                        <th colspan="5" class = "table-title">My Wallet</th>
                    </tr>
                    <tr class = "table-nav">
                        <td>Currency</td>
                        <td>Unit price</td>
                        <td>Amount</td>
                        <td>Value</td>
                        <td>Actions</td>
                    </tr>
                    <tr>
                        <td>USD</td>
                        <td id = "USD-sell-value"></td>
                        <td id = "USD-amount"><a th:text="${currentUser.getWallet().getUSD()}"></a></td>
                        <td id = "USD-value"></td>
                        <td><button type="button" data-currency = "USD" id = "USD-sell"
                                    class = "actions-button sellBtn">Sell</button></td>
                    </tr>
                    <tr>
                        <td>EUR</td>
                        <td id = "EUR-sell-value"></td>
                        <td id = "EUR-amount"><a th:text="${currentUser.getWallet().getEUR()}"></a></td>
                        <td id = "EUR-value"></td>
                        <td><button type="button" data-currency = "EUR" id = "EUR-sell"
                                    class = "actions-button sellBtn">Sell</button></td>
                    </tr>
                    <tr>
                        <td>CHF</td>
                        <td id = "CHF-sell-value"></td>
                        <td id = "CHF-amount"><a th:text="${currentUser.getWallet().getCHF()}"></a></td>
                        <td id = "CHF-value"></td>
                        <td><button type="button" data-currency = "CHF" id = "CHF-sell"
                                    class = "actions-button sellBtn">Sell</button></td>
                    </tr>
                    <tr>
                        <td>RUB</td>
                        <td id = "RUB-sell-value"></td>
                        <td id = "RUB-amount"><a th:text="${currentUser.getWallet().getRUB()}"></a></td>
                        <td id = "RUB-value"></td>
                        <td><button type="button" data-currency = "RUB" id = "RUB-sell"
                                    class = "actions-button sellBtn">Sell</button></td>
                    </tr>
                    <tr>
                        <td>CZK</td>
                        <td id = "CZK-sell-value"></td>
                        <td id = "CZK-amount"><a th:text="${currentUser.getWallet().getCZK()}"></a></td>
                        <td id = "CZK-value"></td>
                        <td><button type="button" data-currency = "CZK" id = "CZK-sell"
                                    class = "actions-button sellBtn">Sell</button></td>
                    </tr>
                    <tr>
                        <td>GBP</td>
                        <td id = "GBP-sell-value"></td>
                        <td id = "GBP-amount"><a th:text="${currentUser.getWallet().getGBP()}"></a></td>
                        <td id = "GBP-value"></td>
                        <td><button type="button" data-currency = "GBP" id = "GBP-sell"
                                    class = "actions-button sellBtn">Sell</button></td>
                    </tr>
                    <tr>
                        <th colspan="5"></th>
                    </tr>
                    <tr>
                        <th colspan="5">Available PLN: <a data-currency = "PLN" id = "PLN-amount"
                                                          th:text="${currentUser.getWallet().getPLN()}"></a></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>